body {
  background: #efefef;
}

.container {
  background: #fafafa;
  padding: 0 5vw;
  -webkit-box-shadow: 0px 0px 118px 0px rgba(0,0,0,0.14);
  -moz-box-shadow: 0px 0px 118px 0px rgba(0,0,0,0.14);
  box-shadow: 0px 0px 118px 0px rgba(0,0,0,0.14);
}

form {
  padding-bottom: 20vh;
}

.mono-form {
  font: 1.1em monospace;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner {
  display: none;
  position: relative;
  margin: 15px 5px 0 20px;
  border: 2px solid transparent;
  border-radius: 5px;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}